# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Python
__pycache__/
*.py[cod]
*.so
.Python
.venv/
venv/
env/
*.egg-info/
.eggs/
.venv-ppcon/

# Jupyter
.ipynb_checkpoints/

# training artifacts
results/
*.pt
*.pth
*.ckpt


# editor
.vscode/
.idea/
*.swp

# slurm scripts
slurm/*